<div class="container">
  <form class="py-2 register_form" [formGroup]="registerForm">
    <h2 class="text-start mb-4">
      Register Form
    </h2>
    <div class="mb-3">
      <label for="fName" class="form-label">Frist Name</label>
      <input type="text" class="form-control" id="fName"  formControlName="fName" name="fName">
      <div class="invalid-feedback" *ngIf="!fName?.valid && fName?.touched">
        <span *ngIf="fName?.errors?.required">Required.</span>
        <span *ngIf="fName?.errors?.pattern">Please use at least 3 letters a-zA-z.</span>
      </div>
    </div>
    <div class="mb-3">
      <label for="lName" class="form-label">Last Name</label>
      <input type="text" class="form-control" id="lName"  formControlName="lName" name="lName">
      <div class="invalid-feedback" *ngIf="!lName?.valid && lName?.touched">
        <span *ngIf="lName?.errors?.required">Required.</span>
        <span *ngIf="lName?.errors?.pattern">Please use at least 3 letters a-zA-z.</span>
      </div>
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="email" name="email">
      <div class="invalid-feedback" *ngIf="!email?.valid && email?.touched">
        <span *ngIf="email?.errors?.required">Required.</span>
        <span *ngIf="email?.errors?.email">Invalid Email.</span>
      </div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password" name="password">
      <div class="invalid-feedback" *ngIf="!password?.valid && password?.touched">
        <span *ngIf="password?.errors?.required">Required.</span>
        <span class="d-block" *ngIf="password?.errors?.minlength">Please use at least 8 letters and characters. </span>
        <span *ngIf="password?.errors?.pattern">at least 1 uppercase, 1 lowercase, 1 special character and 1 numbers. </span>
      </div>
    </div>

    <button type="submit" class="btn btn-primary fw-bold px-5" [disabled]="registerForm.invalid">Register</button>
  </form>
</div>
