<div class="container-fluid">
  <!-- title -->
  <div class="title py-3 d-flex align-items-center gap-2">
    <fa-icon class="fs-3" [icon]="faUser"></fa-icon>  <h3 class="m-0">Customer Information</h3>
  </div>

    <!-- customers tabs -->
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
      <li *ngFor="let tab of tabs; let index=index" [ngbNavItem]="index+1">
        <a ngbNavLink>
          <fa-icon  [icon]="tab.icon"></fa-icon> <span class="ms-2">{{ tab.name }}</span>
        </a>
        <ng-template ngbNavContent>
          <div [ngSwitch]="tab.id">
            <!-- Grid View -->
            <div *ngSwitchCase="1">
                Customer Details
            </div>
            <!-- List View -->
            <div *ngSwitchCase="2">
              Customer Orders
            </div>
             <!-- Map View -->
            <div *ngSwitchCase="3">
              Edit Customer
            </div>

          </div>
        </ng-template>
      </li>


    </ul>

    <div [ngbNavOutlet]="nav" class="mt-2 d-flex flex-column justify-content-start"></div>

    <pre>Active: {{ active }}</pre>


  <div>
    {{customerInfo | json}}
  </div>
</div>
