<div class="responsive-table">
  <table class="table table-striped">
    <thead>
      <th></th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Order Total</th>
      <th></th>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customers | slice: (paginations.table.page-1) * paginations.table.pageSize : paginations.table.page * paginations.table.pageSize">
        <td>
          <div class="customer_img"> <img src="./assets/Male_User_Icon_clip_art.svg" alt="" class="img-fluid"> </div>
        </td>
        <td>{{customer.first_name}}</td>
        <td>{{customer.last_name}} </td>
        <td>{{customer.address}}</td>
        <td>{{customer.city}}</td>
        <td>{{customer.state}}</td>
        <td>${{totalOrder.toLocaleString('en-US')}}</td>
        <td><a routerLink="/customers/{{customer.id}}">View Orders</a></td>
      </tr>
    </tbody>
  </table>
  <ngb-pagination
  [(page)]="paginations.table.page"
  [pageSize]="paginations.table.pageSize"
  [collectionSize]="customers.length"></ngb-pagination>
</div>
