<div class="row align-items-stretch">
  <div class="col-lg-3 col-md-4 col-sm-6 d-flex flex-column align-items-stretch"
  *ngFor="let customer of customers | slice: (paginations.cards.page-1) * paginations.cards.pageSize : paginations.cards.page * paginations.cards.pageSize">
    <div class="customer_grid mb-3 d-flex flex-column  flex-grow-1">
      <div class="d-flex justify-content-between p-2 card_head">
        <h5 class="m-0">{{customer.first_name}} {{customer.last_name}}</h5>
        <fa-icon  [icon]="faEdit"></fa-icon>
      </div>
      <div class="d-flex p-2 card_body">
        <div class="customer_img">
          <img class="img-fluid" src="./assets/Male_User_Icon_clip_art.svg" alt="">
        </div>
        <div class="px-2">
          <p>{{customer.address}}</p>
          <p>{{customer.city}}, {{customer.state}}</p>
          <a routerLink="/customers/{{customer.id}}">View Orders</a>
        </div>
      </div>
    </div>
  </div>
</div>

<ngb-pagination
  [(page)]="paginations.cards.page"
  [pageSize]="paginations.cards.pageSize"
  [collectionSize]="customers.length"></ngb-pagination>
