<div class="container">
  <form class="py-2 login_form" [formGroup]="loginForm" (submit)="login(loginForm?.value)">
    <h2 class="text-start mb-4">
      Login Form
    </h2>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="email" name="email">
      <div class="invalid-feedback" *ngIf="!email?.valid && email?.touched">
        <span *ngIf="email?.errors?.required">Required.</span>
        <span *ngIf="email?.errors?.email">Invalid Email.</span>
      </div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password" name="password">
      <div class="invalid-feedback" *ngIf="!password?.valid && password?.touched">
        <span *ngIf="password?.errors?.required">Required.</span>
        <span class="d-block" *ngIf="password?.errors?.minlength">Please use at least 8 letters and characters. </span>
        <span *ngIf="password?.errors?.pattern">at least 1 uppercase, 1 lowercase and 1 number. </span>
      </div>
    </div>

    <button type="submit" class="btn btn-primary fw-bold px-5" [disabled]="loginForm.invalid">Login</button>
    <div class="invalid-feedback" *ngIf="userNotFound">
      <span >Email or Password is Incorrect.</span>
    </div>
    <div class="d-flex justify-content-end gap-2 mt-3">
      <span>Don't have an account?</span> <a class="link" routerLink="/register" routerLinkActive="active">Register</a>
    </div>
  </form>
</div>
