<div class="card_row" *ngIf="customers?.length">
  <div class="row align-items-stretch">
    <ng-container *ngFor="let customer of customers | filter:fullname | slice: (paginations.cards.page-1) * paginations.cards.pageSize : paginations.cards.page * paginations.cards.pageSize ; let index=index; ">
      <div class="col-lg-3 col-md-4 col-sm-6 d-flex flex-column align-items-stretch" >
        <app-card [customer]="customer"></app-card>
      </div>
    </ng-container>

  </div>
</div>

<div *ngIf="!customers?.length && customersIsLoaded" class="not_found mx-auto w-50">
  <h3>
    There is no customer with this name
  </h3>
</div>

<ngb-pagination class="mt-auto" *ngIf="customers?.length && customersIsLoaded" [(page)]="paginations.cards.page" [pageSize]="paginations.cards.pageSize" [collectionSize]="(customers | filter: fullname).length"></ngb-pagination>
