
@use '@angular/material' as mat;
@include mat.core();

$my-palette: mat.$indigo-palette;
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";


/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';


:root{
  scroll-behavior: smooth
}
html, body { height: 100%; }

body{
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-x: hidden;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
router-outlet~*{
   flex-grow: 1;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
}
a{
  text-decoration: none;
}
.invalid-feedback{
  display: block;
}
